/* =============== Fonts custom =============== */
@font-face {
    font-family: ArcadeClassic;
    src: url('../fonts/ARCADECLASSIC.TTF');
}

@font-face {
    font-family: FiraCode;
    src: url('../fonts/FiraCode-Regular.ttf');
}

@font-face {
    font-family: Ferrum;
    src: url('../fonts/ferrum.otf');
}

@font-face {
    font-family: Pixel;
    src: url('../fonts/VCR_OSD_MONO.ttf');
}

/* =========================================== */



html, body {
    /*background-color: #0c2461;*/
    background-color: #101010;
    color: #fad390;
    font-family: Pixel, cursive;
    line-height: initial;
    min-height: 100vh;
}
body {
    background: url('../img/bg.gif') center center;
}

.container {
    font-size: 1.5rem;
}

h1 {
    font-family: ArcadeClassic, Roboto, serif;
    font-size: 5rem;
    text-shadow: 0 6px 0px #ff5200;
}
/* On diminue la taille du h1 sur mobile */
@media only screen and (max-device-width:480px) {
    h1 {
        font-size: 3rem;
    }
}


h2 {
    font-family: ArcadeClassic, Roboto, serif;

}

.explanations {
    background-color: gold;
    color: #0c2461;
    padding: 10px;
    box-shadow: 0 6px 0px #ff5200;
    font-family: Pixel, Roboto, serif;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.text {
    background-color: gold;
    color: #0c2461;
    padding: 10px;
    box-shadow: 0 6px 0px #ff5200;
    font-family: Pixel, Roboto, serif;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.explanations h3 {
    font-family: ArcadeClassic, Roboto, serif;
}

.explanations li {
    margin-bottom: 5px;
}

.invisible {
    visibility: hidden;
}

#game-container {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.big-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: ArcadeClassic, Roboto, serif;
    background-color: gold;
    padding: 20px;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 5px 0 0 #ffc800, 0 -45px 0 0 #ff52006b inset;
    width: 250px;
}

.big-button:hover {
    box-shadow: 0 5px 0 0 #ffc800, 0 -45px 0 0 #ff52006b inset, 0 4px 11px 7px #ff8100c2;
    color: #ff5200;
}

.answer {
    padding: 10px;
    background-color: gold;
    box-shadow: 0 5px 0 0 #ffc800, 0 -20px 0 0 #ff52006b inset;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
}

.answer:hover {
    box-shadow: 0 5px 0 0 #ffc800, 0 -20px 0 0 #ff52006b inset, 0 4px 11px 7px #ff8100c2;
    color: #ff5200;
}

.small-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: ArcadeClassic, Roboto, serif;
    background-color: gold;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 0 #ff5200;
    width: 64px;
    height: 48px;
    line-height: 32px;
}

.level-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: ArcadeClassic, Roboto, serif;
    background-color: gold;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 0 0 #ff5200;
    width: 64px;
    height: 64px;
    line-height: 64px;
    color: black !important;
}

.level-button:hover {
    text-decoration: none;
}

.level-locked {
    background: url('../img/lock.png') bottom center no-repeat;
    background-size: 16px 16px;
    background-color: #ffc80080;
}

#terminal {
    padding: 20px;
    background-color: rgb(31, 31, 32);
    font-family: FiraCode, monospace;
    color: white;
    height: 600px;
    overflow-y: auto;
    font-size: 12px;
}

.question {
    background-color: black;
    padding: 10px;
}

#terminal .pwd {
    color: rgb(106, 255, 47);
}


#terminal .ssh {
    color: red;
}

.bad-answer .swal-button {
    width: 100% !important;
    background-color: rgb(177, 106, 0) !important;
    font-family: ArcadeClassic, sans-serif !important; 
}

.bad-answer .swal-title:first-child {
    margin-top: 5px !important;
}
.bad-answer .swal-button-container {
    display: block !important;
}
.bad-answer.swal-modal {
    background-color: #ff9e97 !important;
    box-shadow: 0 7px 0px 0px #ff6a44 !important;
    border-radius: 0 !important;
}

.bad-answer .swal-content {
    padding: 0 !important;
    color: #593735 !important;
}